<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/" class=comicsans>Home</a>
        </li>
        <li>
          <a href="/about" class=comicsans>Rules of Rock Paper Scissors</a>
        </li>
      </ul>
    </nav>

    <%= yield %>
      <footer>
        <ul>
          <li>&copy Codeclan 2019</li>
        </ul>
      </footer>
  </body>
</html>
